.vscode
.husky
.github

# configurations
*.config.js
*.config.cjs
*.config.ts
*.config.json
*rc
*rc.js
*rc.json
*.toml
tsconfig*
typedoc.json

# lock
pnpm-lock.yaml

# folders
coverage
docs
examples
src
scripts
site
assets