name: Publish
on:
  push:
    tags:
      - 'v**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'
      - run: npm i -g pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm build && pnpm tsc
      - run: npm publish --access public --tag `node scripts/publish-tag.js`
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
